* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background: url(./images/bg-intro-mobile.png);
  background-color: #ff7979;
  color: white;
}

.font-bold {
  font-weight: 700;
}

.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  max-width: 600px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
}

p {
  font-weight: 500;
}

.trial-message {
  margin-top: 3em;
  background-color: #5e54a4;
  padding: 1em 5em;
  margin-bottom: 1.5em;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.125);
}

.trial-message p {
  font-size: 15px;
  font-weight: 400;
}

#form {
  background-color: white;
  padding: 1.25em 1.5em;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.125);
}

.error-message {
  font-size: 11px;
  padding-top: 0.125em;
  text-align: right;
  font-style: italic;
  color: #ff7979;
}

#form input {
  outline: none;
  border: 1px #dedede solid;
  border-radius: 8px;
  margin-top: 1em;
  width: 100%;
  padding: 1em;
  color: #3d3b48;
  font-weight: 600;
}

#form .error {
  border: 2px solid #ff7979;
  background: url(./images/icon-error.svg) no-repeat right;
  background-position: 95% 50%;
}

#form input::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #3d3b48;
}

#form button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  background-color: #38cc8b;
  border: none;
  border-radius: 8px;
  padding: 1em 0;
  width: 100%;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  margin-top: 1em;
}

#form button:hover {
  background-color: #77e2b3;
}

.terms-and-services {
  font-size: 11px;
  color: #bab7d4;
  padding: 0.75em 2em;
}

.terms-and-services .font-bold {
  color: #ff7979;
}

@media (min-width: 900px) {
  .row {
    display: flex;
  }

  .container {
    max-width: 1200px;
    text-align: left;
  }

  .intro {
    align-self: center;
    width: 50%;
  }

  .cta {
    width: 45%;
    margin-left: auto;
  }

  h1 {
    font-size: 50px;
  }

  .trial-message {
    padding: 1.25em 0;
    text-align: center;
  }

  #form {
    padding: 2.5em 2em;
    text-align: center;
  }

  #form input {
    margin-bottom: 1.25em;
  }

  .terms-and-services {
    padding: 0.75em 0;
  }
}

/* 
  700: bold
  600: semi bold
  500: medium
  400: regular
  
*/
